PDNSADMIN_DOMAIN=pdnsadmin.example.com
PDNS_MASTER_DOMAIN=pdns-api.example.com
PDNS_API_KEY=changeme
PDNSADMIN_DB=pdnsadmin
PDNSADMIN_DB_USER=pdnsadmin
PDNSADMIN_DB_PASS=adminpass
PDNSADMIN_DB_HOST=db
PDNSADMIN_DB_PORT=3306