PDNS_DOMAIN=pdns-api.example.com
PDNS_API_KEY=changeme
PDNS_LAUNCH=gmysql
PDNS_DB_HOST=db
PDNS_DB_NAME=pdns_master
PDNS_DB_USER=pdns_master
PDNS_DB_PASS=masterpass

PDNS_ADMIN_DOMAIN=pdns.example.com
PDNS_ADMIN_SQLA_DB_HOST=db
PDNS_ADMIN_SQLA_DB_PORT=3306
PDNS_ADMIN_SQLA_DB_USER=pdns_admin
PDNS_ADMIN_SQLA_DB_PASSWORD=pdns_admin_pass
PDNS_ADMIN_SQLA_DB_NAME=pdns_admin
PDNS_API_URL=http://pdns:8081/
STRICT_HTTPS="true"

PDNS_RECURSOR_VLAN_SUBNET=10.0.0.0/24
PDNS_RECURSOR_VLAN_IP=10.0.0.5
PDNS_RECURSOR_VLAN_GATEWAY=10.0.0.1