# Recursor network configuration
PDNSR_RECURSOR_VLAN_SUBNET=10.0.0.0/24
PDNSR_RECURSOR_VLAN_IP=10.0.0.5
PDNSR_RECURSOR_VLAN_GATEWAY=10.0.0.1
PDNS_local_address=10.0.0.5

# Recursor settings
PDNS_setuid=pdns
PDNS_setgid=pdns
PDNS_server_id=docker-pdns-recursor

# Add your own forward zones here
PDNS_forward_zones=example.com=127.0.0.1:5353