# Recursor network configuration
PDNSR_RECURSOR_VLAN_SUBNET=10.0.0.0/24
PDNSR_RECURSOR_VLAN_IP=10.0.0.5
PDNSR_RECURSOR_VLAN_GATEWAY=10.0.0.1
PDNS_local_address=10.0.0.5

# Recursor settings
PDNS_allow_from=0.0.0.0/0
PDNS_daemon=no
PDNS_local_port=53
PDNS_loglevel=5
PDNS_setgid=pdns-recursor
PDNS_setuid=pdns-recursor

# Add your own forward zones here
PDNS_forward_zone=example.com=127.0.0.1:5353