# Recursor settings
PDNS_setuid=pdns
PDNS_setgid=pdns
PDNS_server_id=docker-pdns-recursor
PDNS_forward_zones_recurse=.=1.1.1.2;1.0.0.2

# Add your own forward zones here
PDNS_forward_zones=example.com=127.0.0.1:5353