MYSQL_ROOT_PASSWORD=rootpass

PDNS_DB=pdns
PDNS_DB_USER=pdns
PDNS_DB_PASS=changeme

PDNSADMIN_DB=pdnsadmin
PDNSADMIN_DB_USER=pdnsadmin
PDNSADMIN_DB_PASS=adminpass

PDNS_MASTER_DB=pdns_master
PDNS_MASTER_DB_USER=pdns_master
PDNS_MASTER_DB_PASS=masterpass

PDNS_SLAVE_DB=pdns_slave
PDNS_SLAVE_DB_USER=pdns_slave
PDNS_SLAVE_DB_PASS=slavepass