CREATE DATABASE IF NOT EXISTS ${PDNSADMIN_DB};
CREATE USER IF NOT EXISTS '${PDNSADMIN_DB_USER}'@'%' IDENTIFIED BY '${PDNSADMIN_DB_PASS}';
GRANT ALL PRIVILEGES ON ${PDNSADMIN_DB}.* TO '${PDNSADMIN_DB_USER}'@'%';

CREATE DATABASE IF NOT EXISTS ${PDNS_MASTER_DB};
CREATE USER IF NOT EXISTS '${PDNS_MASTER_DB_USER}'@'%' IDENTIFIED BY '${PDNS_MASTER_DB_PASS}';
GRANT ALL PRIVILEGES ON ${PDNS_MASTER_DB}.* TO '${PDNS_MASTER_DB_USER}'@'%';

FLUSH PRIVILEGES;
